.controls {
  margin-top: 10px;
  width: 50%;

  form {
    margin-top: 10px;
    label {
      color: lightgray;
    }
    select {
      background-color: #b58516;
      box-shadow: 2px 2px 2px black;
      &:hover {
        background-color: black;
        color: #b58516;
        cursor: pointer;
      }
    }
  }
  .button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    button {
      background-color: #b58516;
      border-radius: 0.5rem;
      box-shadow: 2px 2px 2px black;
      &:hover {
        background-color: black;
        color: #b58516;
        cursor: pointer;
      }
    }
  }
}
.speed-container {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin: 5px;
  .arrows {
    width: 20px;
    background-color: #b58516;
    &:hover {
      background-color: black;
      color: #b58516;
      cursor: pointer;
    }
  }
  .speed-label {
    color: lightgray;
    font-size: 1.2rem;
  }
}
