.App {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

p {
  text-align: left;
  margin-top: 20px;
}

ul {
  text-align: left;
}

li {
  margin-left: 5%;
}

h1 {
  text-align: center;
  width: 100%;
  font-size: 3rem;
}
.header {
  margin-bottom: 20px;
  background-color: lightskyblue;
  padding: 1rem;
}
.cells {
  width: 10px;
  height: 10px;
  border: solid lightgray;
  border-width: thin;
}
.preset-cells {
  width: 7px;
  height: 7px;
  border: solid lightgray;
  border-width: thin;
}
.preset-heading {
  width: 100%;
}
